body {
  background-image: url("../images/bacon.png");
  background-size: 600px;
  background-color: #E38484 ;
}

form {

}

h1 {
  color: #EACCCC;
}

p {
  color: #EACCCC;
}

#thank_you {
  background-color: #790000;
}

#listoptions {
  background-color: #EACCCC;
}

#input-name, label {

}

#input-email, label {

}

#input-news, label {

}

#input-update, label {

}

#input-dev, label {

}

#input-submit, label {

}
