body {
  background-image: url("images/bacon.png");
  background-color: #E38484 ;
}

form {

}

h1 {

}

p {

}

#thank_you {
  background-color: #C42A2A;
}

#listoptions {
  background-color: #EACCCC;
}